
# actuator 설정
management:
  server:
    port: 8080 #9292로 바꿀 수 있음.
    # 만약 포트를 분리하는게 어렵고 최후로 외부 인터넷 망을 통해서 접근을 해야한다면,
    # /actuator 경로에 서블릿 필터, 스프링 인터셉터 또는 스프링 시큐리티를 통해서 인증된 사용자만 접근 가능하도록 추가 개발이 필요하다.
  
  info:
    java:
      enabled: true
    os:
      enabled: true
    env:
      enabled: true

  endpoint:
    shutdown:
      enabled: true  # shutdown 기능 킴

    health:
      show-details: always
      # validationQuery : "isValid()" -> 정상
      # show-components: always 도 있음

  endpoints:
    web:
      exposure:
        include: "*"

info:
  app:
    name: hello-actuator
    company: house

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true


# 개발 서버는 debug, trace 레벨까지 찍고, 실제 운영 환경에서는 info가 대부분이다.
logging:
  level:
    h.actuator.controller: debug
    # 실시간 변경하려고 하면
    # http://localhost:8080/actuator/loggers/h.actuator.controller [POST] 로
    # {
    #    "configuredLevel" : "TRACE"
    #  }
    # 204 NO Content
